@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
    font-family: 'RobotoCondensed', sans-serif, arial, helvetica;
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
    font-style: normal;
    font-display: swap;
}

#root {
    max-width: 95%;
    margin: auto;
}

.icon {
    display:flex;
    justify-content: end;
}

.material-icons {
    font-size: 40px;
    color: #6d6b6b;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.cards-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.card {
    width: 300px;
    height: 300px;
    margin: 20px 50px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 10px 12px 0 rgba(79, 77, 77, 0.5);
}

.card-name, .item-name {
    text-align: center;
    text-transform: uppercase;
    font-family: 'RobotoCondensed', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #6d6b6b;
    margin-bottom: 10px;
    letter-spacing: -0.1rem;
}

.card-color, .item-color {
    text-align: center;
    color: #6d6b6b;
}

.card-image {
    display: block;
    width: 80%;
    height: 50%;
    margin: 0 auto;
    object-fit: cover;
    margin-bottom: 20px;
}

.card-footer {
    width: 80%;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
}
  
.card-price, .item-price {
    font-size: 20px;
    font-weight: 300;
    color: red;
}
  
.card-button, .item-button {
    margin-right: 15px;
    text-transform: uppercase;
    background-color: #f4f4f4;
    color: red;
    font-weight: 600;
    border: 1px solid red;
    border-radius: 15px;
    padding: 5px 10px;
  
    &:hover {
      background-color: red;
      color: #f4f4f4;
      transition: background-color .7s;
      cursor: pointer;
    }
}
  
.list-view {
    margin-top: 20px;
    width: 102%;
}
  
.item {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;;
    margin: 0 auto;
    margin-bottom: 5px;
}
  
.item-image {
    width: 10%;
}
